* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.container {
  background-color:rgb(214, 203, 203);;
  margin: 50px auto;
  width: 80%;
  box-shadow: 1px 1px 4px 1px #a09d9d;
}

.container form {
  width: 100%;
  padding: 10px;
}

.container label {
  display: block;
  font-style: italic;
  margin-bottom: 3px;
}

.container input,
.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(58, 57, 57);
}

.container input:focus,
.container textarea:focus {
  box-shadow: 1px 1px 4px 1px rgb(49, 170, 240);
}

.singleItem {
  margin: 10px 0;
}
.btn {
  width: 100%;
  text-align: center;
}
.btn button {
  width: 150px;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 7px;
  background-color:rgb(241, 63, 63);
  border-radius: 5px;
  color: black;
}
.btn button:hover {
  border: 1px solid #fefefe;
  background-color: rgb(57, 60, 134);
  cursor: pointer;
}
.btn button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.msg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  font-style: italic;
  width: 340px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(5, 110, 5);
  border-radius: 5px;
  display: none;
}
.msgAppear {
  display: block;
}
@media screen and(min-width:664px) {
  .container {
    width: 60%;
  }
}
@media screen and(min-width:980px) {
  .container {
    width: 40%;
  }
}
.error {
  font-style: italic;
  padding: 3px;
  font-size: 16px;
  color: rgb(242, 24, 24);
}
.image {
  background-color: #fefefe;
}
.imageholder {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(140, 198, 228);
  border-radius: 5px;
  margin-top: 1rem;
  margin: auto;
}
.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
